* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: "Source Serif 4", serif;
  overflow-x: hidden;
  background: linear-gradient(to right, rgba(231, 124, 247, 0.87), rgb(201, 201, 106));
}

/* Container da chuva */
.hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

/* Corações */
.hearts span {
  position: absolute;
  top: -10px;
  color: #ff4d6d;
  animation: fall linear forwards;
}

/* Animação */
@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}

section {
  position: relative;
  z-index: 2;
  margin: 50px 60px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(255, 0, 230), rgb(217, 255, 0));
}
h1 {
   font-size:  36px;
   font-weight: bold;
   text-shadow: 1px 1px 1px 1px black;
     }
    

p {
font-size: 24px;
margin: 10px 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ff00dd;
}

footer {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #fff200;
}